<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link rel = "stylesheet" type = "text/css" href = "/static/css/stylesheet.css" th:href = "@{/css/stylesheet.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e0364b5885.js" crossorigin="anonymous"></script>
</head>
    <!--HEADER-->
    <div th:include="fragments/header :: header"></div>
<body>
    <!--SIDEBAR-->
    <div th:include="fragments/sidebar :: sidebar"></div>

    <div th:include="fragments/sidebar :: sidebar"></div>
    <h4 class="alltitle">All Users</h4>
    <!--TABLE WITH ALL USERS-->
    <div class = "table">
        <table class = "table table-striped table-bordered table-hover adminlist">
            <thead class = "thead-dark tableheader">
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>ID</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody class = "tablebody">
            <!--LISTING ALL USERS-->
            <tr th:each = "users : ${userList}">
                <div th:if="${users.status}">
                    <td th:text = "${users.username}"></td>
                    <td>
                        <!--DISPLAYING USER WITH CORRECT ROLE-->
                        <div th:if="${users.admin}">
                            Admin
                            <i class="fas fa-user-shield roleitems" data-toggle="tooltip" title="Admin"></i>
                            <i class="fas fa-pen-fancy roleitems" data-toggle="tooltip" title="Author"></i>
                            <i class="fas fa-user roleitems" data-toggle="tooltip" title="User"></i>
                        </div>
                        <div th:unless="${users.admin}">
                            User
                            <i class="fas fa-user roleitems" data-toggle="tooltip" title="User"></i>
                        </div>
                    </td>
                    <td th:text = "${users.id}"></td>
                    <td>
                        <!--IF CURRENT USER DO NOT SHOW OP-->
                        <div th:unless = "${users.id} == ${user.id}">
                            <!--USEROPERATIONS 'EDIT' & 'DELETE'-->
                            <div th:include="fragments/useroperations :: userop"></div>
                        </div>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>
        <div>
            <!--BUTTON TOGGLING COLLAPSE-->
            <button class = "btn btn-primary addblogbtn" data-toggle="collapse" data-target="#requests" style="font-size: 12px">View Requests</button>
            <div class = "collapse" id="requests">
                <!--TABLE WITH ALL REQUESTS-->
                <table class = "table table-striped table-bordered table-hover">
                    <thead class = "thead-dark tableheader">
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody class = "tablebody">
                    <!--LISTING ALL USERS-->
                    <tr th:each = "users : ${userList}">
                        <!--FILTERING ONLY USERS WITH FALSE STATUS-->
                        <div th:if="${!users.status}">
                            <td th:text = "${users.username}"></td>
                            <td th:text = "${users.id}"></td>
                            <td>
                                <!--REQUESTS OPERATIONS 'DELETE REQUEST' & 'CHANGE STATUS TO TRUE'-->
                                <a th:href="@{'/home/' + ${user.id} + '/deleteuser/' + ${users.id}}">
                                    <i class = "fas fa-times" data-toggle="tooltip" title = "Remove user" style="color: red"></i>
                                </a>
                                <a th:href="@{'/home/' + ${user.id} + '/changestatus/' + ${users.id}}">
                                    <i class = "fas fa-check" data-toggle="tooltip" title = "Add user" style="color: green"></i>
                                </a>
                            </td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--BOOTSTRAP-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>